
 header{
    background: #daaebb;
    color: rgb(216, 223, 219);
    text-align: center;
    padding: 40px;
 }


 .contenedor-gael{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 30 px 0;
 }

 .card-gael{
    background:white;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px;
    transition: 0.3s;
 }

.card-gael:hover{
    transform: translate(-5px);
}

.oriente{
       color:rgb(255, 255, 255);
    margin-bottom: 30px;
    font-size: 50px;
    text-align: center;
}


.card-gael .medio{
    color: #8A1538;
    margin-bottom: 15px;
    font-size: 30px;
}

.card-gael .lugar{
    font-size: 18px;
    line-height: 1.7;
    text-align: justify;
}

.card-gael ul{
    margin-top: 15px;
    padding-left: 20px;
}

.card-gael .invierno{
    margin-bottom: 10px;
    font-size: 18px;
}

.gae{
    width: 100%;
    border-radius: 12px;
    margin-top: 20px;
}